* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

/************ fonts  *************/
.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

.trade-winds-regular {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
}

.just-another-hand-regular {
  font-family: "Just Another Hand", serif;
  font-weight: 400;
  font-style: normal;
}

.baumans-regular {
  font-family: "Baumans", system-ui;
  font-weight: 400;
  font-style: normal;
}

.baumans-bold {
  font-family: "Baumans", system-ui;
  font-weight: 900;
  font-style: normal;
}


#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0 10px;
  background-color: #d2b48c;
  /* sand color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#header img {
  width: 1.5em;
}

#back-button,
#settings-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
#game-title {
  font-size: 2em;
  text-align: center;
  flex-grow: 1;
}
#message-container {
  text-align: center;
}
#try-again-button {
  background: none;
  border: none;
}