:root {
    background-color: #f4e2c4;
}

#game {
    max-width: 80%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(8, 40px);
    grid-gap: 3px;
    margin: auto;
    /* margin-top: 20px; */
}

.cell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3c98c;
    background-color: #f9e8c7;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    perspective: 500px;
}

.cell.revealed {
    cursor: default;
}

.cell-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2b48c;
    /* sand color */
    transform-style: preserve-3d;
    transition: transform 0.4s ease;
    position: relative;
}

.cell.revealed .cell-content {
    transform: rotateY(180deg);
}

.cell-front,
.cell-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-front {
    background-color: #f9e8c7;
    /* lighter sand */
}

.cell-back {
    transform: rotateY(180deg);
    background-color: #e3c98c;
    /* sand */
    color: #4a4a4a;
    /* default number color */
}

.cell-back.mine {
    background-color: rgb(221, 81, 30);
    /* deeper sand */
    color: #2e8b57;
    /* cactus green */
    font-size: 2.5em;
}

.cell-back.oasis {
    background-color: #80bed4;
    /* oasis blue */
}

@media (max-width: 600px) {
    #game {
        grid-template-columns: repeat(8, 30px);
        grid-gap: 2px;
    }

    .cell {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 400px) {
    #game {
        grid-template-columns: repeat(8, 20px);
        grid-gap: 1px;
    }

    .cell {
        width: 20px;
        height: 20px;
    }
}